@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.inner {
  width: 70%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.more-btn {
  display: block;
  margin: 0 auto;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pokemon-item {
  width: 23%;
  margin-bottom: 60px;
}

.swiper-wrapper {
  display: flex;
}

/* .random-slide {
  border: 1px solid #000;
  padding: 30px;
} */

/* .pokemon-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  background-color: #aaa;
} */

/* .pokemon-img {
  width: 40%;
}

.pokemon-contents {
  width: 60%;
} */

/* .t-pokemon_img {
  width: 100%;
} */

/* .t-pokemon_number {
  color: #888;
  font-size: 12px;
  margin: 0;
} */

/* .t-poekmon_name {
  margin: 3px 0 0 0;
  font-size: 25px;
  font-weight: bold;
} */

.evolution__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .row {
  display: flex;
  align-items: center;
} */

.type {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  color: white;
  font-size: 14px;
}
/* タイプごとの背景色 */
.grass {
  background-color: #28b25c;
}
.fire {
  background-color: #f45c19;
}
.water {
  background-color: #4a96d6;
}
.normal {
  background-color: #aea886;
}
.electric {
  background-color: #eaa317;
}
.ice {
  background-color: #45a9c0;
}
.fighting {
  background-color: #9a3d3e;
}
.poison {
  background-color: #8f5b98;
}
.ground {
  background-color: #916d3c;
}
.flying {
  background-color: #7e9ecf;
}
.psychic {
  background-color: #d56d8b;
}
.bug {
  background-color: #989001;
}
.rock {
  background-color: #878052;
}
.ghost {
  background-color: #555fa4;
}
.dragon {
  background-color: #454ba6;
}
.dark {
  background-color: #7a0049;
}
.steel {
  background-color: #9b9b9b;
}
.fairy {
  background-color: #ffbbff;
}
